{% extends "otree/Base.html" %}
{% load i18n %}
{% load otree otree_internal static %}


{% block internal_styles %}
    {{ block.super }}

{% endblock %}

{% block internal_scripts %}
    {{ block.super }}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()

            // if top menu link is clicked inside iframe
            // we exit full mode
            $("#top_menu a").click(function () {
                if (window.location !== window.parent.location) {
                    window.parent.location.href = $(this).attr("href");
                }
            });

            // i guess sockets must be global variables, and i should name it
            // something other than 'socket' because there might be other sockets
            // in descendant pages
            var disconnectionSocket;

            function setupDisconnectedAlert() {
                disconnectionSocket = makeReconnectingWebSocket('/no_op/');
                var socket = disconnectionSocket;

                var alertStyle = document.querySelector('#disconnected-alert').style;
                socket.onopen = function (e) {
                    alertStyle.visibility = 'hidden';
                };

                socket.onclose = function (e) {
                    alertStyle.visibility = 'visible';
                };
            }

            setupDisconnectedAlert();

        });

    </script>

    <script src="{% static 'main_platform/otree/js/jquery.color-2.1.2.min.js' %}"></script>
    <script src="{% static 'main_platform/otree/js/jquery.timeago.js' %}"></script>
    <script src="{% static 'main_platform/otree/js/jsondiffpatch.min.js' %}"></script>
    <script src="{% static 'main_platform/otree/js/table-utils3.js' %}"></script>

{% endblock %}
{% block body_main %}
    {% if user.is_authenticated and user.is_staff or user.is_superuser %}
        <nav class="fixed-top position-absolute mobile-nav">
            <div class="nav-container">
                <div class="nav-home">
                    <a href="{% url 'games' %}">
                        <i class="fas fa-home"></i>
                    </a>
                    <a href="{% url 'Rooms' %}">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </a>
                </div>
                <div class="nav-logout">
                    {% if request.user.is_authenticated|default:False %}
                        <a href="{% url 'logout' %}">Log ud</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log in</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <nav class="fixed-top position-absolute desktop-nav">
            <div class="nav-container">
                <div class="nav-home">
                    <a href="{% url 'games' %}">
                        <i class="fas fa-home"></i>
                        Hjem
                    </a>
                    <a href="{% url 'DemoIndex' %}">Demo</a>
                    <a href="{% url 'Sessions' %}">Sessions</a>
                    <a href="{% url 'Rooms' %}">
                        <i class="fas fa-chalkboard-teacher"></i>
                        Mine Klasserum
                    </a>
                    <a href="{% url 'ExportIndex' %}">Data</a>

                    <a href="{% url 'ServerCheck' %}">Server Check</a>

                </div>
                <div class="nav-logout">
                    {% if request.user.is_authenticated|default:False %}
                        <a href="{% url 'change_password' %}">Skift kodeord</a>
                        <a href="{% url 'logout' %}">Log ud</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log ind</a>
                    {% endif %}
                </div>
            </div>
        </nav>

    {% elif user.is_authenticated and user.is_active %}
        <nav class="fixed-top position-absolute mobile-nav">
            <div class="nav-container">
                <div class="nav-home">
                    <a href="{% url 'games' %}">
                        <i class="fas fa-home"></i>
                    </a>
                    <a href="{% url 'Rooms' %}">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </a>
                </div>
                <div class="nav-logout">
                    {% if request.user.is_authenticated|default:False %}
                        <a href="{% url 'logout' %}">Log ud</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log ind</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <nav class="fixed-top position-absolute desktop-nav">
            <div class="nav-container">
                <div class="nav-home">
                    <a href="{% url 'games' %}">
                        <i class="fas fa-home"></i>
                        Hjem
                    </a>
                    <a href="{% url 'Rooms' %}">
                        <i class="fas fa-chalkboard-teacher"></i>
                        Mine Klasserum
                    </a>
                </div>
                <div class="nav-logout">
                    {% if request.user.is_authenticated|default:False %}
                        <a href="{% url 'logout' %}">Log ud</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log ind</a>
                    {% endif %}
                </div>
            </div>
        </nav>

    {% else %}
        <nav class="fixed-top position-absolute mobile-nav">
            <div class="nav-container">
                <div class="nav-home">
                    <a href="{% url 'games' %}">
                        <i class="fas fa-home"></i>
                    </a>
                </div>
                <div class="nav-logout">
                    {% if request.user.is_authenticated|default:False %}
                        <a href="{% url 'logout' %}">Log ud</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log ind</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <nav class="fixed-top position-absolute desktop-nav">
            <div class="nav-container">
                <div class="nav-home">
                    <a href="{% url 'games' %}">
                        <i class="fas fa-home"></i>
                        Hjem
                    </a>
                </div>
                <div class="nav-logout">
                    {% if request.user.is_authenticated|default:False %}
                        <a href="{% url 'logout' %}">Log ud</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log ind</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endif %}

        {% block menus %}{% endblock %}
        <div class="daytrader-introduction-container">
            {% block content %}{% endblock %}
        </div>
        <br/>



    {% comment %}
      this exists so that if there is an error in oTree's channel consumers,
      such as data export or rooms, the user gets some notification rather than it silently
      failing.
      don't put it in global base template even though it could be useful there too,
      because we don't want to pollute "view source"
      in user-defined pages
    {% endcomment %}
    <div id='websocket-server-error' class="top-left-fixed-alert"></div>
{% endblock body_main %}
