{% extends "otree/BaseAdmin.html" %}

{% block content %}
    <style>
        body {
            background: #41739D;
        }

    </style>
    <div class="daytrader-game-container">
            <h2 class="daytrader-intro-title">Daytrader</h2>
            <div class="daytrader-intro-frontpage-img">
                <div class="daytrader-next-btn-container">
                    <button class="daytrader-start-game-btn">
                        Læs regler
                    </button>
                </div>
            </div>
    </div>
{% endblock %}
