@media (min-width: 768px) {


  /*******************************
  *  Hide otree default message  *
  ********************************/

  .otree-timer {
    display: none
  }

  .otree-title {
    display: none
  }

  /******************************
  *   Play.html info styling    *
  *******************************/

  .round-info {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
  }

  .round-title {
    font-family: "Patrick Hand", cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    padding: 35px 0 35px 0;
    color: white;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    background-color: white;
    width: 90%;
  }

  .round-introduction {
    font-family: "Patrick Hand", cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }


  /*****************************
  *   Play.html svg styling    *
  *******************************/
  .answer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 300px;
    width: 100%;

    svg {
      width: 100%;
    }

    div.expected-score-container {
      font-size: 16px;
    }
  }


  .game-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;

      div.game-content {
        display: flex;
        justify-content: center;

      div.game-timer {
        display: flex;
        text-align: center;
        font-size: 23px;
      }
    }
  }





  /*************************************
  *   Intro1.html.html table styling   *
  **************************************/

  .intro-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 100%;
    font-family: "Patrick Hand", cursive;
    height: 100vh;


    .bad {
      justify-content: center;
      font-weight: bold;
      font-size: 50px;
      text-align: center;
      letter-spacing: 20px;
      color: darkred;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }

    .influence {
      font-weight: bold;
      font-size: 50px;
      text-align: center;
      color: $ku-red;
      text-transform: uppercase;
      margin: -25px;
      padding: 0;
      letter-spacing: 7px;
    }


    @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
      transition: $property $duration $ease;
    }

    * {
      box-sizing: border-box;

      &::before, &::after {
        box-sizing: border-box;
      }
    }

    button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
      z-index: 2;


      &.start-game {
        height: auto;
        width: 40%;
        margin-top: 30px;
        font-size: 30px;

        .circle {
          display: none;

          .icon {
            display: none;

            &.arrow {
              display: none;

            }
          }
        }

        .button-text {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
          position: absolute;
          top: -5px;
          left: 0;
          right: 0;
          bottom: 0;
          font-weight: 700;
          line-height: 1.6;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1px;
          background-color: $ku-red;
          color: white;
          border-radius: 20px;
          height: 50px;

        }

        .button-text {
          color: $white;
        }
      }
    }


  }
  /*************************************
  *   Intro2.html table styling   *
  **************************************/
  .intro-2 {

    .svg-column {

      h2 {
        font-size: 30px;
      }
    }


    $bg: #f3f8fa;
    $white: #fff;
    $black: #901A1E;

    @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
      transition: $property $duration $ease;
    }

    * {
      box-sizing: border-box;

      &::before, &::after {
        box-sizing: border-box;
      }
    }

    button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
      z-index: 2;

      &.start-game {
        height: auto;
        width: 60%;
        margin-top: 30px;
        font-size: 30px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-self: center;

        .circle {
          display: none;

          .icon {
            display: none;

            &.arrow {
              display: none;

            }
          }
        }

        .button-text {
          position: absolute;
          top: -5px;
          left: 0;
          right: 0;
          bottom: 0;
          font-weight: 700;
          line-height: 1.6;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1px;
          background-color: $ku-red;
          color: white;
          border-radius: 20px;
          height: 50px;

          &:hover {
            background-color: $ku-dark-green;
          }
        }

      }
    }

    div.bad_influence-form-container {
      div.form-group {
        div.controls {
          div.form-check {
            padding: 15px 0 15px 180px;
            input.form-check-input[type="radio"] {
              -webkit-appearance: none;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              outline: none;
              border: 3px solid $ku-red;

              &:before {
                content: '';
                display: block;
                width: 60%;
                height: 60%;
                margin: 20% auto;
                border-radius: 50%;
              }

              &:checked:before {
                background: $ku-red;
              }

              &:checked {
                border-color: $ku-red;
              }
            }

            label {
              font-size: 32px;
              padding: 0 0 0 7.5px;
            }
          }
        }
      }

      div.button-container {
        display: flex;
        justify-content: center;
      }
    }

  }

    /*******************************************************
  *  Teacher Report Page BadInfluence/AdminReport.html  *
  *******************************************************/
  div.report-container {
    div.report-info {

      p.bad_influence-report-title {
        font-size: 35px;
        margin-top: 10%;
      }

      div.dropdown-questions {
        width: 90%;
        font-size: 20px;

        div.question-title {
            font-size: 22px;
        }

        /** Tooptip styling for question dropdown **/
        div.question-tooltip {
           padding-bottom: 15px;

         a.tip {
              border-bottom: 1px dashed;
              text-decoration: none;
              color: $ku-red;
            }

            a.tip:hover {
              cursor: help;
              position: relative;
              color: $ku-dark-green;
            }

            a.tip span {
              display: none
            }

            a.tip:hover span {
              border: black 1px solid;
              padding: 8px 8px 8px 8px;
              display: block;
              text-align: center;
              z-index: 100;
              background-color: white;
              color: black;
              margin: 20px;
              width: 500px;
              position: absolute;
              font-size: 18px;
              top: 10px;
              left: -150px;
              right: 0;
              text-decoration: none;
            }
          }
        }

      div.rapport-header {
        padding-top: 20px;
        justify-content: center;
        display: flex;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $ku-red;

        h2 {
          color: $ku-red;
        }
      }


      .d3-row {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 14px;

        #d3consensus {
          display: flex;
          justify-content: center;
          width: 100%;
        }

        #d3playback {
          display: flex;
          justify-content: center;
          width: 100%;
        }

        p#d3historyChoice {
          select {
            border-radius: 10px;
            font-family: 'Patrick Hand', sans-serif;
            font-size: 18px;
          }
        }

        .play-button {
          background-color: $ku-red;
          color: white;
          width: 100px;
          display: flex;
          justify-content: center;
          border-color: $ku-red;

          &:hover {
            background-color: $ku-dark-green;
            border-color: $ku-dark-green;
          }
        }
      }

      .dropdown-toggle {
        background-color: $ku-red;
        color: white;
        font-size: 14px;

        &:hover {
          background-color: $ku-dark-green;
        }
      }

      /** Topscorelist table **/
      div.report-table-container {
        width: 100%;

        table.badInfluenceTableReport {
          border-collapse: initial;
          display: flex;
          border-spacing: 0 0.8rem;
          width: 95%;
          margin-bottom: 20px;
        }

        th.bad_influence-table-header {
          background: $ku-red;
          padding: 12px;
          text-align: center;
          font-size: 18px;

            .border-corner-left {
              border-radius: 10px 0 0 10px;
            }

            .border-corner-right {
              border-radius: 0 10px 10px 0;
            }
        }

        tr.bad_influence-table-row {
          td {
              padding: 10px 0 10px 0;
              text-align: center;
              font-size: 22px;

            }
        }

        /** Table hover effekt styling (stubborness) **/
        a.tip {
          border-bottom: 1px dashed;
          text-decoration: none;
          color: white;

        }

        a.tip:hover {
          cursor: help;
          position: relative;
          color: $ku-dark-green;
        }

        a.tip span {
          display: none;
        }

        a.tip:hover span {
          width: 380px;
          font-size: 20px;
          top: 10px;
          right: 0;
          left: -150px;
        }
      }
    }
  }
  /**



    div.rapport-header {
      width: 100%;
      margin-top: 24px;
    }



    div.report-table-container {



      }

      div.explanation {
        div.report-info-container {
          padding: 20px 40px;

          div.question-title {
            font-size: 22px;
          }
        }
      }
    }
  }

  div.results-container {
    div.report-info {
      div.results-title {
        p {
          font-size: 25px;
        }
      }

      div.report-table-container {
        table.bad_influence-results-table {
          th, td {
            font-size: 22px;
          }
        }

        table#badInfluenceTableReport {
          th, td {
            font-size: 22px;
          }
        }
      }
    }
  }


   #d3container {

    #overlay-container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 350px;
      background:rgba(255,255,255, 0.9);
      position:absolute;
      border: solid 2px transparent;

      p {
        justify-content: center;
        display: flex;
        text-align: center;
        align-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        color: $ku-red;
      }
    }
  }

   .question-tooltip {
    padding-bottom: 15px;

   a.tip {
        border-bottom: 1px dashed;
        text-decoration: none;
        color: $ku-red;
      }

      a.tip:hover {
        cursor: help;
        position: relative;
        color: $ku-dark-green;
      }

      a.tip span {
        display: none
      }

      a.tip:hover span {
        width: 500px;
        position: absolute;
        font-size: 16px;
        top: 10px;
        right: 0;
        left: -75px;
      }
  }


**/

}