{% load otree_internal otree static %}

<style>

    body {
        background-color: #901A1E;
    }

    .form {
        display: none;
    }

    .rapport-header, .question-title {
        color: #901a1e;
    }


</style>
{% block content %}


<!-- Rapport title -->
<h1 class="bad_influence-report-title">Rapportside</h1>


<div class="dropdown-questions dropdown">
    <div class="d3-row question-title">
        Vælg et spørgsmål for at se hvordan det gik
    </div>
    <div class="d3-row question-title">
        Spørgsmål
    </div>
    <div class="question-tooltip"><a class="tip">
    <sup> <i class="fas fa-asterisk"></i></sup>Læs spørgsmålets kontekst<span>
    <div id="questionHolder1"></div></span></a>
</div>



    <div class="d3-row">
        <p id="d3historyChoice"></p>
    </div>

    <div class="d3-row">
        <div id="d3container"></div>
        <div id="d3consensus"></div>
    </div>

    <div class="d3-row">
        <p id="d3playback"></p>
        <button type="button" id="play-button" class="btn btn-primary play-button">Afspil</button>
    </div>



</div>
<div class="report-table-container">
    <h2 class="rapport-header ">Topscorerliste</h2>
    <table class="table-responsive" id="badInfluenceTableReport">
        <tr class="report-header-row">
            <th class="bad_influence-table-header border-corner-left">#</th>
            <th class="bad_influence-table-header"> spillernavn</th>
            <th class="bad_influence-table-header"> point <br> ialt</th>
            <th class="bad_influence-table-header"> fulgt <br> flertallet</th>
            <th class="bad_influence-table-header"> fulgt sin <br> præference</th>
            <th class="bad_influence-table-header"><a data-t></a>
            <a class="tip"><sup> <i class="fas fa-asterisk"></i></sup>stædighed<span>Stædighed (i sekunder) angiver hvor længe en spiller har bibeholdt sin præference når spilleren var i mindretal i venne-netværket. Det giver et praj om, hvor stædigt spilleren forsøgte at få de andre til at skifte mening. </span></a> </th>
            <th class="bad_influence-table-header">antal venner</th>
            <th class="bad_influence-table-header border-corner-right">antal skift</th>


        </tr>
        {% for ranking in rankings %}
        <tr class="bad_influence-table-row">
            <td class="bad_influence-table-data border-corner-left">{{ forloop.counter }}</td>
            <td class="bad_influence-table-data"><strong> {{ ranking.0 }} </strong></td>
            <td class="bad_influence-table-data">{{ ranking.1 }}</td>
            <td class="bad_influence-table-data">{{ ranking.2 }}%</td>
            <td class="bad_influence-table-data">{{ ranking.3 }}%</td>
            <td class="bad_influence-table-data">{{ ranking.4 }}s</td>
            <td class="bad_influence-table-data">{{ ranking.5 }}</td>
            <td class="bad_influence-table-data border-corner-right">{{ ranking.6 }}</td>
        </tr>
        {% endfor %}
    </table>

</div>

  {% endblock %}


{% block scripts %}
<script>
     $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

</script>


{% endblock %}
 {% include 'bad_influence/d3/d3_graph_results.html' %}